{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<main class="h-100 p-3">
    <h1>{{post.Title | capfirst}}</h1>
    <p>
        <small>
            Update by {{post.Author}} , {{post.Date | date:'d M Y'}}
        </small>
    </p>
    {% if user.is_authenticated %}
   
   {% if user.id == post.Author.id %}
   <div class="my-4">
    <button class="btn btn-primary"><a href="{% url "updatepost" post.Slug %}" class="text-white">Update</a></button>
    <button class="btn btn-danger"><a href="{% url "deletepost" post.Slug %}" class="text-white">Delete<a/></button>
   </div>
   
   {% endif %}
   {% endif %}
    <img src="{{post.Image.url}}" class="w-75 border " alt="{{post.Title}}">
   <p class="mt-4">
    {{post.Content | capfirst| linebreaks}}
   </p>
   <div>
    <h4>Comment your thoughts here:</h4>
   </div>
   <form action="{% url "postdetails" post.Slug %}" method="post">
    {% csrf_token %}
    <h5 class="text-warning">{{request.user}}</h5>
    {{comments}}
    <button type="submit" class="btn btn-success">Comment</button>
   </form>
   <section>
    {% for com in allcomments %}
    <ul>
        <li>{{com.user.username}}</li>
        <li>{{com.text}}</li>
    </ul>
    {% endfor %}
   </section>
</main>
{% endblock content %}